
@mixin colBox($isBtw) {
	display: flex;
	flex-direction: column;
	@if $isBtw {
		justify-content: space-between;
	}
}
@mixin vCenterBox {
	display: flex;
	align-items: center;
}

@mixin btwBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin nomalEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: nowrap;
}